.heading-primary{
	font-size: 5rem;
	@media only screen and (max-width: $bp-medium) {
	    font-size: 3rem;
	}
}
.heading-secondary{
	font-size: 2.5rem;
}
.paragraph{
	font-size: $default-font-size;
	font-weight: bold;
}