
// COLOR VARIABLES
$color-primary: #ffbc00;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Dosis', sans-serif;

// Default font size

$default-font-size: 1.6rem;

// Container max-width

$max-width: 1284px;

// RESPONSIVE BREAKPOINTS (width)
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 29em;    // 600px;


// RESPONSIVE BREAKPOINTS (height)
$bp-height-normal: 37.5em;   // 800px;


// Transition speed 
$transition-speed: 0.3s;
$transition-speed-nav: 0.4s;




