.header{
	display: flex;

	background: linear-gradient( to right, rgba(black,0.4),
	        rgba(black,0.4) ),
			url('../img/showcase2.jpg') center center/cover;
	/////////////
	// content
	&__content{
		position: relative;
		z-index: 10;
		min-height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	////////////
	/// showcase
	&__showcase{
		color: $color-grey-light-1;
		
		
	}
	&__heading{
		text-align: center;
	}
	////////////
	// BTN
	&__btn{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	////////////
	// Arrow
	&__arrow{
		text-align: center;
		color: $color-grey-light-1;
		font-size: 4rem;
		padding: 3rem;

		///////////////
		// Animation
		animation-duration: 1.5s;
		animation-timing-function: ease;
		animation-name: animateHeaderArrow;
		animation-iteration-count: infinite;
		cursor: pointer;
		transition:all $transition-speed;
		&:hover{
			animation-play-state: paused;
			color: $color-primary;
		}
	}
}