.header{
	position: relative;
	margin-top: -15vh;

	color: $color-grey-light-1;
	/////////////
	// Internal grid
	display: grid;
	justify-content: center;
	align-content: center;
	/////////////
	// Background 
	background: url('../img/showcase2.jpg') no-repeat center center/cover;
	z-index: 1;
	&::before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0.4;
		z-index: 2;
	}
	///////////////
	/// Content
	&__content{
		position: relative;
		z-index: 10;
		
		
	}
	&__btn{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}